{
    "comments": false,
    "env": {
        "development": {
            "plugins": ["transform-object-rest-spread"]
        },
        "production": {
            "presets": ["es2016"],
            "plugins": ["transform-runtime"]
        }
    }
}
