$s1: #6a82ec;
$s2: #7c92f5;
$b1: #2d3041;
$b2: #363b4f;
$b4: #a7b1c2;
$b7: #e3e3e9; // border
$b8: #e7eaec; // shadow
$b9: #333; // global bg
$globalBg: #f3f3f4;
html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 100%;
    min-width: 998px;
}

.scroll-container {
    overflow: auto;
    &::-webkit-scrollbar {
        width: 9px;
        height: 9px;
        border-radius: 8px;
        // display: block;
    }
    &::-webkit-scrollbar-track {
        background: #eee;
        // background: rgba(0, 0, 0, .33);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: #aaa;
        background: rgba(0, 0, 0, 0.2);
        &:hover {
            background: #666;
            background: rgba(0, 0, 0, .4);
        }
    }
    &::-webkit-scrollbar-button {
        cursor: pointer;
        background: #eee;
        // display: none;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 4px;
    }
}


/* 滚动条 end */


/* 主容器 start */

.main-container {
    display: flex;
    background: $globalBg;
    min-height: 100%;
    &.full {
        height: 100%;
    }
    &.width-full {
        width: 100%;
    }
}

.main-container.full,
.main-container.width-full {
    .main-wraper {
        width: calc(100% - 200px);
    }
}


/* 主容器 end */


/* 左侧栏 start */

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 200px;
    height: 100%;
    transition: all .3s ease;
    z-index: 999;
}


/* 导航栏 start */

.menu-container {
    height: 100vh;
    background: $b2;
    padding-top: 20px;
    .root-menu {
        position: relative;
        color: $b4;
        border-left: 2px solid transparent;
        line-height: 60px;
        &.active {
            border-color: $s1;
            background: $b1;
            .menu-title {
                color: #fff;
            }
        }
    }
    .menu-title {
        padding-right: 10px;
        padding-left: 20px;
        cursor: pointer;
        font-weight: bold;
    }
}

.main-wraper {
    position: relative;
    display: flex;
    background: $globalBg;
    flex: 1 1 auto;
    flex-direction: column;
    margin-left: 200px;
    transition: all .3s ease;
}

.view {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    padding: 20px 20px 10px 20px;
}

.view-title {
    flex-shrink: 0;
    margin: 10px 0px 30px;
    padding-left: 10px;
    border-left: 4px solid $s1;
    position: relative;
    font-size: 16px;
}

.view-content {
    flex: 1 1 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0px -1px 1px 1px $b8;
    display: flex;
    flex-direction: column;
}

.fixed-table {
    width: 100%;
    color: #333;
    background: #fff;
}

.fixed-table thead {
    background: #f5f5f7;
}

.fixed-table td,
.fixed-table th {
    border: 1px solid #e3e3e9;
    font-size: 12px;
    padding: 0 10px;
}

.fixed-table tbody tr:hover,
.fixed-table tbody tr.hover {
    background: #eef0fc;
}

.fixed-table tbody tr.active {
    background: #eef0fc;
    color: #6a82ec;
}

.fixed-table th {
    height: 36px;
    white-space: nowrap;
    font-weight: normal;
    text-align: center;
}

.fixed-table td,
.cell {
    text-align: center;
    white-space: nowrap;
    min-height: 36px;
    line-height: 36px;
    width: auto;
}

.border {
    border: 1px solid #dadada;
    border-top: none;
}